
// Colors
$primary-background: #313a5a; 
$body-background: #f8f9fc;
$primary-design: #1fdb84;
$primary-subheading: #031d5b;
$primary-subheading--pricing: #32325c;
$primary-text: #5b6c94;
$hero-text: #ffffff;
$pricing-tab-border: #aefdd9;
$pricing-tab-text: #6fdeaa;
$pricing-tab-background: #f1fff8;
$card-border-top: #0a8aff;

$media-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);