
body {
  background-color: $body-background;
}

// Hero Section

.hero-wrapper {
  background-color: $primary-background;
  
  @include media-between(xs, lg) {
    padding-top: 150px;
  }

  @include media(lg) {
    height: 100vh;
    max-height: 850px;
  }
  
  .container {
    height: 100%; 
  }
}


.hero-content {
  @include media-between(xs, lg) {
    text-align: center;
  }

  @include media(lg) {
    position: relative;
    top:50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 50%;
  }

  p {
    color: $hero-text;
  }
}


.primary-heading {
  font-size: 48px;
  font-weight: bold;
  color: $hero-text;

  @include media-between(xs, md) {
    font-size: 35px;
  }
}


.btn-primary {
  font-size: 18px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 -8px 34px 0 rgba(31, 219, 132, 0.6);
}


.hero-img {
  display: block;
  height: 100%;
  
  @include media-between(xs, lg) {
    margin-top: 30px;
  }
  
  @include media(lg) {
    width: 50%;
    float: right;
    position: relative;
  }

  img {
    height: 50vh;
    width: 100%;
    object-fit: contain;
    
    @include media(lg) {
      height: 85%;
      position: absolute;
      bottom: 0;
    }
  }
}






// Benefit Wrapper

.benefit-wrapper {
  .container {
    background-color: white;
    color: $hero-text;
    padding: 20px 40px 40px;
    border-radius: 10px;
    transform: translateY(-50px);
    position: relative;
    z-index: 5;
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
    border-top: 1px solid $hero-text;

    @include media-between(xs, lg) {
      margin-right:20px;
      margin-left: 20px;
      padding: 20px 20px 40px;
    } 
  }
}


.benefit-content {
  margin-top: 20px;
  overflow-wrap: break-word;

  /** 
   * 48px is the combination of margin rights of two children (20 + 20)
   * and 8px of inline block whitespace between elements.
   */
  @include media(lg) {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 48px) / 3);

    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    color: $primary-subheading;
  }

  p {
    margin-top: 20px;

    @include media-between(xs, lg) {
      margin-bottom: 20px;
    }
  }
}


.benefit-icon {
  height: 72px;
  width: 72px;
  line-height: 42px;
  text-align: center;
  background-color: rgba(31, 219, 132, 0.1);
  border-radius: 6px;
  padding: 15px 20px;

  img {
    vertical-align: middle;
    width: 100%;
  }
}


.benefit-divider {
  display: inline-block;
  height: 4px;
  width: 60px;
  background-color: $primary-design;
}






// Pricing Section

.pricing-wrapper {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;

  h2 {
    color: $primary-subheading--pricing;
    font-size: 40px;
    line-height: 1.6;

    @include media-between(xs, lg) {
      font-size: 30px;
    }
  }
}


.pricing-plan {
  margin-top: 50px;
  display: inline-block;
  border-radius: 5px;
  background-color: $pricing-tab-background;
  text-transform: uppercase;
  font-size: 0;

  @include media-between(xs, sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  a {
    display: inline-block;
    padding: 21px 30px;
    color: $pricing-tab-text;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid $pricing-tab-border;

    @include media-between(xs, sm) {
      margin-top: 10px;
    }

    &:hover {
      background-color: white;
      color: $primary-design;
      border:1px solid $primary-design;
      transition: all 0.3s ease-out;
    }
  }
}


.pricing-plan-active {
  background-color: white;
  color: $primary-design;
  border:1px solid $primary-design;
  transition: all 0.3s ease-out;
}


.pricing-tabs {
  padding-top: 20px;
  display: none;

  > ul {
    @include media(lg) {
      font-size: 0;
    }
  }
}

.pricing-card { 
  display: inline-block;
  padding: 60px 40px;
  margin-top: 30px;
  vertical-align: top;
  cursor: pointer;
  font-size: initial;
  overflow-wrap: break-word;

  h3 {
    color: $primary-subheading--pricing;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.27px;
  }

  li {
    margin-top: 10px;
  }

  .btn {
    text-transform: uppercase;
  }

  @include media(lg) {
    width: calc(100% / 3);
  }

  &:hover {
    background-color: white;
    border-top: 2px solid $card-border-top;
    box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
  }
}

.cost {
  font-size: 72px;
  line-height: 0.89;
  color: $primary-design;

  @include media-between(xs, lg) {
    font-size: 50px;
  }
}

.pricing-card-active {
  background-color: white;
  border-top: 2px solid $card-border-top;
  box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
  transition: all 0.5s ease;
}

.yearly-offer {
  p {
    font-size: 22px;
    line-height: 0.89;
    color: $primary-text;
  }
}

.pricing-yearly {
  .pricing-card {
    .cost {
      font-size: 62px;
    }

    &:hover {
      border-top: 2px solid pink;
    }
  }

  .pricing-card-active {
    border-top: 2px solid pink;
  }
}

.pricing-tab-active {
  display: block;
}