
body {
  background-color: $body-background;
}

// Hero Section

.hero-wrapper {
  background-color: $primary-background;
  
  @include media-upto(lg) {
    padding-top: 150px;
  }

  @include media(lg) {
    height: 100vh;
    max-height: 850px;
  }
  
  .container {
    height: 100%; 
  }
}


.hero-content {
  @include media-upto(lg) {
    text-align: center;
  }

  @include media(lg) {
    position: relative;
    top:50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 50%;
  }

  .content {
    color: $hero-text;
  }
}


.primary-heading {
  font-size: 48px;
  font-weight: bold;
  color: $hero-text;

  @include media-upto(md) {
    font-size: 35px;
  }
}


.btn-primary {
  font-size: 18px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 -8px 34px 0 rgba(31, 219, 132, 0.6);
}


.hero-img {
  display: block;
  height: 100%;
  
  @include media-upto(lg) {
    margin-top: 30px;
  }
  
  @include media(lg) {
    width: 50%;
    float: right;
    position: relative;
  }

  img {
    height: 50vh;
    width: 100%;
    object-fit: contain;
    
    @include media(lg) {
      height: 85%;
      position: absolute;
      bottom: 0;
    }
  }
}






// Benefit Wrapper

.benefit-wrapper {
  .container {
    background-color: white;
    color: $hero-text;
    padding: 20px 40px 40px;
    border-radius: 10px;
    transform: translateY(-50px);
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
    border-top: 1px solid $hero-text;

    @include media-upto(lg) {
      margin-right:20px;
      margin-left: 20px;
      padding: 0px 20px 40px;
    } 
  }
}


.benefit-content {
  margin-top: 40px;
  overflow-wrap: break-word;

  /** 
   * 48px is the combination of margin rights of two children (20 + 20)
   * and 8px of inline block whitespace between elements.
   */
  @include media(lg) {
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 48px) / 3);

    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }
  }

  .title {
    font-size: 18px;
    // font-weight: 500;
  }
}


.benefit-icon {
  height: 72px;
  width: 72px;
  line-height: 42px;
  text-align: center;
  background-color: rgba(31, 219, 132, 0.1);
  border-radius: 6px;
  padding: 15px 20px;

  img {
    vertical-align: middle;
    width: 100%;
  }
}


.benefit-divider {
  height: 4px;
  width: 60px;
  background-color: $primary-design;
}






// Pricing Section

.pricing-wrapper {
  .title {
    color: $primary-subheading--pricing;
    line-height: 1.6;

    @include media-upto(lg) {
      font-size: 30px;
    }
  }
}


.pricing-plan {
  display: inline-block;
  border-radius: 5px;
  background-color: $pricing-tab-background;
  text-transform: uppercase;
  font-size: 0;

  @include media-upto(sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  a {
    display: inline-block;
    padding: 21px 30px;
    color: $pricing-tab-text;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid $pricing-tab-border;

    @include media-upto(sm) {
      margin-top: 10px;
    }

    &:hover {
      background-color: white;
      color: $primary-design;
      border:1px solid $primary-design;
      transition: all 0.3s ease-out;
    }
  }
}


.pricing-plan-active {
  background-color: white;
  color: $primary-design;
  border:1px solid $primary-design;
  transition: all 0.3s ease-out;
}


.pricing-tabs {
  display: none;

  > ul {
    @include media(lg) {
      font-size: 0;
    }
  }
}


.pricing-card { 
  .btn {
    text-transform: uppercase;
  }
}


.pricing-features {
  min-height: 200px;
  
  li {
    margin-top: 10px;
  }
}


.yearly-offer {
  p {
    font-size: 22px;
    line-height: 0.89;
    color: $primary-text;
  }
}

.pricing-yearly {
  .pricing-card {
    .cost {
      font-size: 62px;
    }

    &:hover {
      border-top: 2px solid pink;
    }
  }

  .pricing-card-active {
    border-top: 2px solid pink;
  }
}


.pricing-tab-active {
  display: block;
}





// Testimonials

.testimonial {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.testimonial-head {
  @include media(lg) {
    position: relative;
    width: 32%;
    margin-top: 30px;
    float: left;
  }

  .title {
    @include media-upto(lg) {
      font-size: 30px;
    }

    @include media(lg) {
      margin-top: 40px;
      margin-left: 20px;
      text-align: left;
    }
  }
}

.top-design {
  position: absolute;

  @include media-upto(lg) {
    display: none;
  }

  img {
    width: 100%;
  }
}


.testimonial-wrapper {
  background-color: $primary-background;
  height: 800px;
  position: relative;

  @include media(lg) {
    width: 60%;
    float: right;
  }
  
  @include media-upto(lg) {
    margin-top: 30px;
  }
}

.card {
  font-size: initial;
  white-space: normal;
  
  &:not(:last-child) {
    margin-right: 20px;
  }

  .content {
    height: 200px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.card-active {
  .card-design {
    img {
      content: url('https://gowthamant.github.io/autocryp/assets/images/group-6.svg');
    }
  }
}





// Client Section

.client-wrapper {
  .title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}


.client-list {
  li {
    @include media(sm) {
      display: inline-block;
      
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}


.client-icon {
  height: 50px;
  line-height: 50px;
  display: inline-block;

  img {
    vertical-align: middle;
    object-fit: contain;
  }
}