
.card {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  padding: 40px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 12px 12px 40px 0 rgba(121, 121, 121, 0.3);
}

.author { 
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  color: $primary-subheading;
}

.author-company {
  opacity: 0.4;
}


.card-active {
  background-color: $primary-design;
  box-shadow: 12px 12px 40px 0 rgba(31, 219, 132, 0.5);

  .content, 
  .author {
    color:white;
  }

  .author-company {
    opacity: 0.8;
  }
}