// Utility classes
.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0px 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}