@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

figure img {
  vertical-align: top;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0px 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-200 {
  padding-bottom: 200px;
}

.text-center {
  text-align: center;
}

.btn {
  background-color: #1fdb84;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  padding: 20px 45px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
          box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.content {
  font-size: 16px;
  line-height: 2;
  color: #5b6c94;
}

header {
  padding: 20px 0px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #313a5a;
}

@media screen and (min-width: 992px) {
  .navbar {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .navbar nav {
    margin-top: 10px;
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navbar nav {
    display: inline-block;
  }
}

.navbar::after {
  content: "";
  clear: both;
  display: table;
}

.company-logo {
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
  color: #ffffff;
}

@media screen and (min-width: 992px) {
  .company-logo {
    float: left;
  }
}

@media screen and (min-width: 992px) {
  .primary-nav li {
    display: inline-block;
  }
  .primary-nav li:not(:first-child) {
    margin-left: 20px;
  }
}

.nav-link {
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
}

.nav-link:hover {
  color: #1fdb84;
  border-bottom: 1px solid #1fdb84;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 991px) {
  .action {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .action {
    float: right;
  }
}

.action a {
  line-height: 28px;
  font-size: 16px;
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  .action a {
    margin-top: 10px;
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .action a:not(:first-child) {
    margin-left: 30px;
  }
}

.action .btn {
  padding: 6px 25px;
  max-width: 300px;
  text-align: center;
}

.login:hover {
  color: #1fdb84;
  border-bottom: 1px solid #1fdb84;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hamburger-icon {
  width: 25px;
  height: 20px;
  float: right;
  position: relative;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .hamburger-icon {
    display: none;
  }
}

.hamburger-icon span {
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 100%;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  background-color: white;
}

.hamburger-icon span:first-child {
  top: 0;
}

.hamburger-icon span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hamburger-icon span:last-child {
  bottom: 0;
}

@media screen and (max-width: 991px) {
  .nav-active {
    border-radius: 0px 0px 10px 10px;
  }
}

.nav-active .navbar span:first-child {
  -webkit-transform: rotate(45deg) translate(3px, 9px);
          transform: rotate(45deg) translate(3px, 9px);
}

.nav-active .navbar span:nth-child(2) {
  opacity: 0;
}

.nav-active .navbar span:last-child {
  -webkit-transform: rotate(-45deg) translate(3px, -9px);
          transform: rotate(-45deg) translate(3px, -9px);
}

@media screen and (max-width: 991px) {
  .nav-active .navbar nav, .nav-active .navbar .action {
    display: block;
  }
}

.overlay-active {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media screen and (min-width: 992px) {
  .overlay-active {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .body-fixed {
    overflow: hidden;
  }
}

body {
  background-color: #f8f9fc;
}

.hero-wrapper {
  background-color: #313a5a;
}

@media screen and (max-width: 991px) {
  .hero-wrapper {
    padding-top: 150px;
  }
}

@media screen and (min-width: 992px) {
  .hero-wrapper {
    height: 100vh;
    max-height: 850px;
  }
}

.hero-wrapper .container {
  height: 100%;
}

@media screen and (max-width: 991px) {
  .hero-content {
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .hero-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
    width: 50%;
  }
}

.hero-content p {
  color: #ffffff;
}

.primary-heading {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .primary-heading {
    font-size: 35px;
  }
}

.btn-primary {
  font-size: 18px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 -8px 34px 0 rgba(31, 219, 132, 0.6);
          box-shadow: 0 -8px 34px 0 rgba(31, 219, 132, 0.6);
}

.hero-img {
  display: block;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .hero-img {
    margin-top: 30px;
  }
}

@media screen and (min-width: 992px) {
  .hero-img {
    width: 50%;
    float: right;
    position: relative;
  }
}

.hero-img img {
  height: 50vh;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 992px) {
  .hero-img img {
    height: 85%;
    position: absolute;
    bottom: 0;
  }
}

.benefit-wrapper .container {
  background-color: white;
  color: #ffffff;
  padding: 20px 40px 40px;
  border-radius: 10px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
          box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
  border-top: 1px solid #ffffff;
}

@media screen and (max-width: 991px) {
  .benefit-wrapper .container {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0px 20px 40px;
  }
}

.benefit-content {
  margin-top: 40px;
  overflow-wrap: break-word;
  /** 
   * 48px is the combination of margin rights of two children (20 + 20)
   * and 8px of inline block whitespace between elements.
   */
}

@media screen and (min-width: 992px) {
  .benefit-content {
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 48px) / 3);
  }
  .benefit-content:not(:nth-child(3n)) {
    margin-right: 20px;
  }
}

.benefit-content h2 {
  font-size: 18px;
  font-weight: 500;
  color: #031d5b;
}

.benefit-icon {
  height: 72px;
  width: 72px;
  line-height: 42px;
  text-align: center;
  background-color: rgba(31, 219, 132, 0.1);
  border-radius: 6px;
  padding: 15px 20px;
}

.benefit-icon img {
  vertical-align: middle;
  width: 100%;
}

.benefit-divider {
  height: 4px;
  width: 60px;
  background-color: #1fdb84;
}

.pricing-wrapper h2 {
  color: #32325c;
  font-size: 40px;
  line-height: 1.6;
}

@media screen and (max-width: 991px) {
  .pricing-wrapper h2 {
    font-size: 30px;
  }
}

.pricing-plan {
  display: inline-block;
  border-radius: 5px;
  background-color: #f1fff8;
  text-transform: uppercase;
  font-size: 0;
}

@media screen and (max-width: 575px) {
  .pricing-plan {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pricing-plan a {
  display: inline-block;
  padding: 21px 30px;
  color: #6fdeaa;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid #aefdd9;
}

@media screen and (max-width: 575px) {
  .pricing-plan a {
    margin-top: 10px;
  }
}

.pricing-plan a:hover {
  background-color: white;
  color: #1fdb84;
  border: 1px solid #1fdb84;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.pricing-plan-active {
  background-color: white;
  color: #1fdb84;
  border: 1px solid #1fdb84;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.pricing-tabs {
  display: none;
}

@media screen and (min-width: 992px) {
  .pricing-tabs > ul {
    font-size: 0;
  }
}

.pricing-card {
  display: inline-block;
  padding: 60px 40px;
  margin-top: 30px;
  vertical-align: top;
  cursor: pointer;
  font-size: initial;
  overflow-wrap: break-word;
}

.pricing-card h3 {
  color: #32325c;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.27px;
}

.pricing-card .btn {
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .pricing-card {
    width: calc(100% / 3);
  }
}

.pricing-card:hover {
  background-color: white;
  border-top: 2px solid #0a8aff;
  -webkit-box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
          box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
}

.cost {
  font-size: 72px;
  line-height: 0.89;
  color: #1fdb84;
}

@media screen and (max-width: 991px) {
  .cost {
    font-size: 50px;
  }
}

.pricing-card-active {
  background-color: white;
  border-top: 2px solid #0a8aff;
  -webkit-box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
          box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.pricing-features {
  min-height: 200px;
}

.pricing-features li {
  margin-top: 10px;
}

.yearly-offer p {
  font-size: 22px;
  line-height: 0.89;
  color: #5b6c94;
}

.pricing-yearly .pricing-card .cost {
  font-size: 62px;
}

.pricing-yearly .pricing-card:hover {
  border-top: 2px solid pink;
}

.pricing-yearly .pricing-card-active {
  border-top: 2px solid pink;
}

.pricing-tab-active {
  display: block;
}

.testimonial::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 992px) {
  .testimonial-topic {
    position: relative;
    width: 32%;
    margin-top: 30px;
    float: left;
  }
}

.testimonial-topic h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #031d5b;
}

@media screen and (min-width: 992px) {
  .testimonial-topic h2 {
    font-size: 40px;
    margin-top: 40px;
    margin-left: 20px;
    text-align: left;
  }
}

.top-design {
  position: absolute;
}

@media screen and (max-width: 991px) {
  .top-design {
    display: none;
  }
}

.top-design img {
  width: 100%;
}

.testimonial-wrapper {
  background-color: #313a5a;
  height: 800px;
  position: relative;
}

@media screen and (min-width: 992px) {
  .testimonial-wrapper {
    width: 60%;
    float: right;
  }
}

@media screen and (max-width: 991px) {
  .testimonial-wrapper {
    margin-top: 30px;
  }
}

.carousel-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  white-space: nowrap;
  font-size: 0;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .carousel-container {
    overflow: hidden;
  }
}

@media screen and (min-width: 992px) {
  .carousel-container {
    margin-left: -150px;
  }
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  padding: 40px;
  border-radius: 6px;
  font-size: initial;
  white-space: normal;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 12px 12px 40px 0 rgba(121, 121, 121, 0.3);
          box-shadow: 12px 12px 40px 0 rgba(121, 121, 121, 0.3);
}

.card:not(:last-child) {
  margin-right: 20px;
}

.card .content {
  height: 200px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.author {
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  color: #031d5b;
}

.author-company {
  opacity: 0.4;
}

.card-active {
  background-color: #1fdb84;
  -webkit-box-shadow: 12px 12px 40px 0 rgba(31, 219, 132, 0.5);
          box-shadow: 12px 12px 40px 0 rgba(31, 219, 132, 0.5);
}

.card-active .card-design img {
  content: url("https://gowthamant.github.io/autocryp/assets/images/group-6.svg");
}

.card-active .content,
.card-active .author {
  color: white;
}

.card-active .author-company {
  opacity: 0.8;
}

.carousel-indicators {
  margin-top: 230px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .carousel-indicators {
    display: none;
  }
}

.indicator {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 10px;
  cursor: pointer;
}

.indicator-active {
  background-color: white;
}

.slide0 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.slide1 {
  -webkit-transform: translateX(-740px);
          transform: translateX(-740px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.slide2 {
  -webkit-transform: translateX(-1480px);
          transform: translateX(-1480px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.client-wrapper h2 {
  font-size: 16px;
  color: #031d5b;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .client-list li {
    display: inline-block;
  }
  .client-list li:not(:last-child) {
    margin-right: 20px;
  }
}

.client-icon {
  height: 70px;
  display: inline-block;
}

.client-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-nav a:hover {
  color: #1fdb84;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 575px) {
  .footer-nav a {
    display: block;
    margin-top: 10px;
  }
}

@media screen and (min-width: 576px) {
  .footer-nav a:not(:last-child)::after {
    content: "/";
    margin: 0px 20px;
    color: #5b6c94;
  }
}
/*# sourceMappingURL=styles.css.map */