@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

figure img {
  vertical-align: top;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0px 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

header {
  padding: 20px 0px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #313a5a;
}

header .navbar > a {
  font-size: 26px;
  font-weight: 500;
  line-height: 28px;
  display: inline-block;
  color: #ffffff;
}

header .navbar .hamburger-icon {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 20px;
  float: right;
  margin-top: 5px;
}

@media screen and (min-width: 992px) {
  header .navbar .hamburger-icon {
    display: none;
  }
}

header .navbar .hamburger-icon span {
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 100%;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  background-color: white;
}

header .navbar .hamburger-icon span:first-child {
  top: 0;
}

header .navbar .hamburger-icon span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .navbar .hamburger-icon span:last-child {
  bottom: 0;
}

@media (min-width: 0) and (max-width: 991px) {
  header .navbar nav {
    margin-top: 10px;
    display: none;
  }
}

@media screen and (min-width: 992px) {
  header .navbar nav {
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 992px) {
  header .navbar nav li {
    display: inline-block;
    margin-left: 20px;
  }
}

header .navbar nav a {
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

header .navbar nav a:hover {
  color: #1fdb84;
  border-bottom: 1px solid #1fdb84;
}

@media (min-width: 0) and (max-width: 991px) {
  header .navbar .action {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  header .navbar .action {
    float: right;
  }
}

header .navbar .action a {
  line-height: 28px;
  font-size: 16px;
  color: #ffffff;
}

@media (min-width: 0) and (max-width: 991px) {
  header .navbar .action a {
    margin: 10px 0px;
    display: block;
  }
}

@media screen and (min-width: 992px) {
  header .navbar .action a {
    margin-left: 30px;
  }
}

header .navbar .action .btn {
  padding: 0px 25px;
  max-width: 300px;
  text-align: center;
}

header .navbar::after {
  content: "";
  clear: both;
  display: table;
}

.nav-active {
  border-radius: 0px 0px 10px 10px;
}

.nav-active .navbar span:first-child {
  -webkit-transform: rotate(45deg) translate(3px, 9px);
          transform: rotate(45deg) translate(3px, 9px);
}

.nav-active .navbar span:nth-child(2) {
  opacity: 0;
}

.nav-active .navbar span:last-child {
  -webkit-transform: rotate(-45deg) translate(3px, -9px);
          transform: rotate(-45deg) translate(3px, -9px);
}

@media (min-width: 0) and (max-width: 991px) {
  .nav-active .navbar nav, .nav-active .navbar .action {
    display: block;
  }
}

.overlay-active {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn {
  background-color: #1fdb84;
  color: #ffffff;
  font-size: 18px;
  display: inline-block;
  padding: 20px 45px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
          box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
}

.content {
  font-size: 16px;
  line-height: 2;
  color: #ffffff;
}

.hero-wrapper {
  background-color: #313a5a;
  border-top: 1px solid #313a5a;
}

@media screen and (min-width: 992px) {
  .hero-wrapper {
    height: 100vh;
    max-height: 850px;
  }
}

.hero-wrapper .container {
  height: 100%;
}

.hero-wrapper .hero-content {
  padding: 30px 0px;
}

@media (min-width: 0) and (max-width: 991px) {
  .hero-wrapper .hero-content {
    margin-top: 100px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-wrapper .hero-content {
    padding: 30px 20px;
  }
}

@media screen and (min-width: 992px) {
  .hero-wrapper .hero-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline-block;
    width: 50%;
  }
}

.hero-wrapper .primary-heading {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}

@media (min-width: 0) and (max-width: 767px) {
  .hero-wrapper .primary-heading {
    font-size: 35px;
  }
}

.hero-wrapper picture {
  display: block;
  height: 100%;
}

@media (min-width: 0) and (max-width: 991px) {
  .hero-wrapper picture {
    margin-top: 30px;
  }
}

@media screen and (min-width: 992px) {
  .hero-wrapper picture {
    width: 50%;
    float: right;
    position: relative;
  }
}

.hero-wrapper img {
  height: 50vh;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 992px) {
  .hero-wrapper img {
    height: 85%;
    position: absolute;
    bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */